html, body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}
canvas {
        margin: auto 0
}
.content {
        width: auto;
        height: auto;
        margin: 0 auto;
        text-align: center
}
